/*
Description: Thorn CRM
Version:1.0
Author:Ryan Holt
Author URI:http://www.draconusdesigns.com
*/

/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		color: #333333;
	}
	h1, h2, h3, h4{
		font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
		color: #2C3E50;
		font-weight: bold;
		line-height: 1.5em;
	}
	h1{ 
		font-size: 2em; 
	}
	h2{ 
		font-size: 1.5em; 
	}
	h3{ 
		font-size: 1.25em; 
	}
	h4{
		font-size: 1em; 
		margin-bottom: 5px;
	} 
	h5{ 
		font-size: .8em; 
	}
	h6{ 
		font-size: .75em; 
	}
	strong{
		font-weight: 600;
	}
	small{
		font-size: .7em;
		font-style: italic;
	}
	a{
		color: #3498DB;
		text-decoration: none;
	}
	a:hover{
		text-decoration: underline;
	}
	i.fa{
		opacity: 0.8;
	}
/* Header */
	#header-container{
		position: relative;
		z-index: 2;
		background: #2C3E50;
	    min-height: 50px;
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	}
	#logo{
		font-size: 1.25em;
		font-weight: 200;
		padding: .5em;
	}
	#logo li{
		list-style: none;
	}
	#logo a{
		text-decoration: none;
		color: #fff;
	}	
	#navigation ul {
		padding: 0;
		margin: 0;
	}
	#navigation li {
		list-style: none !important;
		color: #fff;
		font-size: .9em;
		text-decoration: none;
	}
	#navigation ul li {
		line-height: 2.5em;
		float: left;
	}
	#navigation ul li a {
		display: inline-block;
		color: #fff;
		padding: .5em;
		text-decoration: none;
	}
	#navigation li a:hover, #navigation ul li:hover > a {
		background: #1A242F;
	}
	#navigation ul li ul { 
		display: none; 
	}
	#navigation ul li:hover ul:before{
		border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff;
		border-style: solid;
		border-width: 7px;
		content: "";
		display: block;
		height: 0;
		left: 1em;
		position: absolute;
		top: -14px;
		width: 0;
	}
	#navigation ul li:hover ul:after{
		border: 7px solid transparent;
		content: "";
		display: block;
		position: absolute;
		top: -14px;
		width: 100%;
	}
	#navigation ul li:hover ul {
		margin-top: 2px;
		background: #fff;
		z-index: 99999;
		display: list-item !important;
		position: absolute;
		padding: .5em 0em;
		border-radius: 5px;
		border: 1px solid rgba(0,0,0,.2);
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	}
	#navigation ul li:hover ul li a{
		color: #333333;
		width: 100%;
		padding: .25em 1em;
	}
	#navigation ul li:hover ul li {
		float: none;
	}
	#navigation ul li ul li a:hover{
		background: #2C3E50;
		color: #fff;
	}
	#greeting{
		max-height: 50px;
	}
	#greeting ul {
		padding: 0;
		margin: 0;
	}	
	#greeting li{
		list-style: none;
		line-height: 2.5em;
	}
	#greeting a{
		display: inline-block;
		min-height: 50px;
		font-size: .9em;
		text-decoration: none;
		padding: .5em;
		color: #fff;
	}
/* Sub Head */
	.sub-head h1{
		font-weight: 300;
		margin: .5em 0em .5em;
	}
	.lead {
	    font-size: 21px;
	    font-weight: 200;
	    line-height: 30px;
	    margin: .5em 0em 1em;
	}
/* Login */

/* Dashboard */
	#dashboard .fourcol{
		background: #ECF0F1;
	    border-radius: 5px;
	    margin-bottom: 1.5em;
		padding: 1em;
	}
	#content{
		min-height: 620px;
	}
/* Queue */
	.table {
	    margin-bottom: 20px;
	    width: 100%;
	}
	.table th, .table td {
	    border-top: 1px solid #DDDDDD;
	    line-height: 1.25em;
	    padding: .5em;
	    text-align: left;
	    vertical-align: top;
	}
	.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
	    background: #DDE4E6;
	}
	td.center, th.center {
	    text-align: center;
	}
	td.small, th.small {
	    width: 8em;
	}
/* Form Elements */
	form {
	    margin-bottom: 20px;
	}
	fieldset {
	    border: 0 none;
	    margin: 0;
	    padding: 0;
	}
	legend {
	    -moz-border-bottom-colors: none;
	    -moz-border-left-colors: none;
	    -moz-border-right-colors: none;
	    -moz-border-top-colors: none;
	    border-color: -moz-use-text-color -moz-use-text-color #E5E5E5;
	    border-image: none;
	    border-style: none none solid;
	    border-width: 0 0 1px;
	    color: #333333;
	    display: block;
	    font-size: 21px;
	    line-height: 40px;
	    margin-bottom: 20px;
	    padding: 0;
	    width: 100%;
	}
	legend small {
	    color: #999999;
	    font-size: 15px;
	}
	label {
	    display: block;
	    margin-bottom: 5px;
		font-weight: 600;
		font-size: 14px;
	    line-height: 20px;
	}
	label.inline, label.inline {
	    display: inline-block;
	    min-height: 20px;
	    padding-top: 5px;
	    margin-bottom: 0;
	}
	input, select, textarea, button {
	    font-size: 14px;
	    font-weight: normal;
	    line-height: 20px;
	}
	h4.required:after{
		content: "*";
		color: #E74C3C;
		font-weight: 500;
		margin-left: 5px;
	}
	input, select {
		background: #FFFFFF;
	    color: #555555;
		width: 220px;
	    display: inline-block;
	    height: 30px;
	    margin-bottom: 10px;
	    padding: 4px 6px;
		border-radius: 4px;
	    border: 1px solid #CCCCCC;
	    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	}
	select:focus, input:focus {
	    outline: thin dotted #333333;
	    outline-offset: -2px;
	}
	textarea {
	    height: auto;
		background: #FFFFFF;
	    color: #555555;
		width: 220px;
	    display: inline-block;
	    margin-bottom: 10px;
	    padding: 4px 6px;
		border-radius: 4px;
	    border: 1px solid #CCCCCC;
	    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	}
	textarea:focus, input:focus, .uneditable:focus {
	    border-color: rgba(82, 168, 236, 0.8);
	    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
	    outline: 0 none;
	}
	input:-moz-placeholder, textarea:-moz-placeholder {
	    color: #999999;
	}
	input[type="radio"], input[type="checkbox"] {
	    float: left;
		height: auto;
		margin-top: 5px;
		width: 30px;
	}
	input[type="submit"]{
		background: #2C3E50;
		color: #fff;
	}
	input[type="submit"]:hover{
		background: #1E2A36;
	}
	.input-mini {
	    width: 60px;
	}
	.input-small {
	    width: 90px;
	}
	.input-medium {
	    width: 150px;
	}
	.input-large {
	    width: 210px;
	}
	.input-xlarge {
	    width: 270px;
	}
	.input-xxlarge {
	    width: 530px;
	}
	.uneditable {
	    background: #FCFCFC;
	    border-color: #CCCCCC;
	    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.024) inset;
	    color: #999999;
	    cursor: not-allowed;
	}
/* Buttons and Flags */
	.button{
		border: none;
		background: #2C3E50;
		color: #fff;
		margin-bottom: 5px;
		border-radius: 4px;
		box-shadow: 2px 2px 0 rgba(50, 50, 50, 0.25);
	}
	.plusbutton, .minusbutton {
		display: inline;
		height: 30px;
	    margin-left: 5px;
	}
	.button:hover {
		box-shadow: none;
	}
	#heading{
		position: relative;
	}
	.flag{
		position: absolute;
		top: 1em;
		right: 0;
		display: inline-block;
		padding: .25em 1em;
	}
	.error{
		background: #E74C3C;
		color: #fff;
	}
	.success{
		background: #18BC9C;
		color: #fff;
	}
	.notification{
		background: #3498DB;
		color: #fff;
	}
	.warning{
		background: #F39C12;
		color: #fff;
	}
	.validation{
		display: inline-block;
		padding: .5em;
		font-size: 14px;
	}
	
/* Project Form */
	#project-form textarea{
		width: 90%;
		height: 150px;
	}
/* ============================= */
/* ! Layout for tablet version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}
	#logo, #header, #footer{
		text-align: center;
	}
	#navigation{
		position: relative;
		width: 100%;
		padding: 0;
		float: left;
		text-align: center;
	}
}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 479px) {

	body {
		
	}
}

/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}