table.tablesorter thead th, table.tablesorter thead td{
	background-color: #2C3E50;
	border: 1px solid #FFF;
    color:#fff;
	
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: 99% center;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}